MONGODB_URI=mongodb://csahan585_db_user:MNjznfYJQeHxmES5@ac-idwibam-shard-00-00.djftcfw.mongodb.net:27017,ac-idwibam-shard-00-01.djftcfw.mongodb.net:27017,ac-idwibam-shard-00-02.djftcfw.mongodb.net:27017/?tls=true&replicaSet=atlas-3w84pu-shard-0&authSource=admin&appName=CampusFind
JWT_SECRET=b82bbb078cb44faba7409d1896a3f45755d0ed3fa6a611f070ae484c18d82864afee35a733f80428c0077b209bd9b07e
PORT=4000
DEMO_PASSWORD=02BmAjRRcAf1yqUZ
